/* Customize your styles here */
body{
    /* background-image: url('/assets/image2.jpeg'); Replace the path with the correct path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white; /* Set the text color to white */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow for better visibility */
  background-color: #faf0d7;
}
.title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
  }
small{
    text-align: center;
    color: red;
}

button{
    background-color: #807cf0;
    color: #faf0d7;
    align-items: center;
}
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .text{
    margin-top: 5%;
    color: black;
  }
  .terms{
    margin-left: 8%;
    color: black;
  }
  

  .form{
    width: 50%;
    margin-top: 10%;

  }
 
  
  h2 {
    margin-bottom: 20px;
    color: #090580;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .form-check{
    color: black;
    margin-left: 10%;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #090580;
    border-color: #090580;
    width: 100%;
  }
  
  .btn-primary:hover {
    background-color: #07046b;
    border-color: #07046b;
  }
  .form-control {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10%;
  }
  .text-center {
    display: flex;
    justify-content: center;
    margin-right: 10%;
  }
  .mat-checkbox.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-frame {
    background-color: blue; /* Change this to the desired blue color */
  }
  
  /* Centering the card on small screens */
  @media (max-width: 576px) {
    .center-wrapper {
      height: auto;
    }
  
    .card {
      margin-top: 20px;
    }
  }
  